@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-display: swap;
}
.cardgradient,
.imageBackGroundGradient {
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.cardgradient,
.clientGradient,
.imageBackGroundGradient {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.buttonGradient,
.textGradient {
  animation: 15s infinite gradient;
}
html {
  scroll-behavior: smooth;
}
.cardgradient {
  background: rgba(233, 78, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
}
.imageBackGroundGradient {
  background: rgba(255, 152, 230, 0.1);
  -webkit-backdrop-filter: blur(4px);
}
.clientGradient {
  background: rgba(226, 102, 243, 0.21);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(201, 47, 170, 0.24);
}
.textGradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-clip: text;
  color: transparent;
}
.buttonGradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

/* .textGradient {
  color: white;
}
.buttonGradient {
  color: white;
} */
/* @keyframes gradient {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
} */
